.table{
   border: 2px solid aquamarine;
   width: 300px;
   height: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   color: aquamarine;
}

.tableRed{
    border: 2px solid aquamarine;
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: rgb(194, 42, 42);
}